form {
  div.field {
    padding: 1.5em 1.5em 0 1.5em;
    label {
      color: $text-color;
      font-size: 1.6em;
      padding: 0;
      font-weight: 300;
      display: block;
    }
    textarea {
      padding: 1em 1em;
      line-height: 1.75;
      resize: vertical;
    }
    input {
      height: 2.75em;
      padding: 0 1em;
    }
    input,
    textarea {
      font-size: 20px !important;
      background: $highlight;
      border-radius: 0.25em;
      border: solid 1px $border;
      color: $text-color;
      width: 100%;
      font-weight: 300;
      margin: 0.5em 0 0 0;
      :focus {
        outline: none;
        outline-offset: 0;
      }
      &:required:focus:invalid {
        border-color: red;
      }
      &:required:valid {
        border-color: limegreen;
      }
    }
  }
  button[type="submit"] {
    color: $text-color;
    background: $highlight;
    border: none;
    padding: 1em 1em;
    border: 1px solid $border;
    border-radius: 2em;
    min-width: 200px;
    margin: 1em 0;
    cursor: pointer;
    -webkit-transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    -webkit-transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    &:hover {
      color: $highlight;
      background-color: $text-color;
    }
  }
}