body {
  background-color: $background;
  display: grid;
  color: $text-color;
  main {
    overflow: auto;
  }
  footer{
    text-align: center;
    background-color: #28313a;
    padding: 2em 2em;
    font-weight: 300;
    text-transform: uppercase;
    color: rgba(255,255,255,1);
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  body {
    grid-template: 100vh / auto;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  body {
    grid-template: 100vh / auto;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  body {
    grid-template: 100vh / auto;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  body {
    grid-template: 100vh auto / 20em auto;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  body {
    grid-template: 100vh auto / 20em auto;
  }
}