div.notification {
  z-index: 10;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 20em;
  margin: 0 3% 3% 0;
  line-height: 3em;
  text-align: center;
  padding: 1em 1em;
  border-radius: 0.5em;
  -webkit-transform: translateX(150%);
  transform: translateX(150%);
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  &.success {
    background-color: rgb(37, 208, 47);
    color: black;
  }
  &.error {
    background-color: red;
    color: white;
  }
  &.slide-in {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  &.slide-out {
    -webkit-transform: translateX(150%);
    transform: translateX(150%);
  }
}
